<!DOCTYPE html>

<html>
<head>
	<base href="~/" />
	<meta charset="utf-8" />
	<meta name="author" content="Bruno Blanes" />
	<meta name="description" content="An average CRM for someone's need." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Average CRM</title>

	<!-- Load our stylesheet -->
	<link href="~/css/site.min.css" rel="stylesheet" />

	<!-- Load JQuery Mask Plugin -->
	<script src="~/script/jquery.mask.min.js"></script>

	<!-- Load our script file -->
	<script src="~/script/site.min.js" type="text/javascript"></script>

	<!-- Load framework specific files -->
	<script src="_framework/blazor.server.js"></script>
</head>

<body dir="ltr">
	<div id="main">
		@if (IsSectionDefined("scripts"))
		{
			RenderSection("scripts");
		}

		@RenderBody()
	</div>
</body>
</html>