<!DOCTYPE html>

<html>
<head>
	<base href="~/" />
	<meta charset="utf-8" />
	<meta name="author" content="Bruno Blanes" />
	<meta name="description" content="An average CRM for someone's need." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Average CRM</title>

	<!-- Load our stylesheet -->
	<link href="~/css/site.min.css" rel="stylesheet" />
	
	<!-- Load FAST Design -->
	<script src="~/script/web-components.min.js" type="module"></script>

	<!-- TODO: Remove bootstrap -->
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Load framework specific files -->
	<script src="_framework/blazor.server.js"></script>

	<!-- Load JQuery --> 
	<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

	<!-- Load our script file -->
	<script src="~/script/site.min.js" type="text/javascript"></script>
</head>

<body>
	<fluent-design-system-provider use-defaults>
		<div class="main">
			<div class="content">
				@if (IsSectionDefined("scripts"))
				{
					RenderSection("scripts");
				}

				@RenderBody()
			</div>
		</div>

		<script>
			JsFunctions.ApplyColorPalette();
		</script>
	 </fluent-design-system-provider>
</body>
</html>