/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

body, html {
	height: 100%;
}

/* Content we're putting a blur over */
.content:before {
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	touch-action: none;
	position: fixed;
	display: block;
	right: 0;
	left: 0;
	/* Full height */
	height: 100vh;
	z-index: -1;
	content: "";
	width: 100%;
	/* Applies blur effect */
/*	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
*/}

.content {
	left: 0;
	right: 0;
	z-index: 0;
	position: fixed;
	margin-left: 20px;
	margin-right: 20px;
}

.login-form {
	position: center;
}