@page

@model IndexModel

@{
	ViewData["Title"] = "Setup";
}

<div class="content">
	<section class="form-section">
		<form>
			<h1>Welcome to Average CRM</h1>

			<div class="form-line">
				<fluent-button appearance="Accent" asp-page="/smtp">Next</fluent-button>
			</div>
		</form>
	</section>
</div>