@page

@model IndexModel

@{
	ViewData["Title"] = "Setup";
}

<div class="content">
	<section class="form-section">
		<!-- TODO: Create a side menu -->

		@if (Model.Start)
		{
			<form id="setup" method="post">
				<h1>Welcome to Average CRM v1.0</h1>
				
				<div class="form-line">
					<fluent-button appearance="Accent">Next</fluent-button>
				</div>
			</form>
		}

		else if (Model.IsSmtpConfigured is false)
		{
			<partial name="./Shared/_SmtpPartial.cshtml" />
		}

		else if (Model.IsIdentityConfigured is false)
		{
			<partial name="./Shared/_IdentityPartial.cshtml" />
		}
	</section>
</div>