@page "/home"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<h3>Home Page</h3>
<div>
	<Button Name="LogoutButton" Primary="true" Content="Logout" OnClickCallback="@LogoutButtonClick" />
</div>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender) await JSRuntime.InvokeVoidAsync("loadFluentTheme");
	}

	private async Task LogoutButtonClick(MouseEventArgs args)
	{
		await SignOutManager.SetSignOutState().ConfigureAwait(false);
		Navigation.NavigateTo("authentication/logout");
	}
}