@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<h3>First Page (Index)</h3>
<div>
	<Button Name="LoginButton" Primary="true" Content="Login" OnClickCallback="@LoginButtonClick" />
</div>
<AuthorizeView>
	<Authorized>
		@if (context.User.Identity.IsAuthenticated)
		{
			Navigation.NavigateTo("home");
		}
	</Authorized>

	<NotAuthorized>
		<a href="authentication/register">Register</a>
	</NotAuthorized>
</AuthorizeView>

@code{
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender) await JSRuntime.InvokeVoidAsync("loadFluentTheme");
	}

	private void LoginButtonClick(MouseEventArgs args)
	{
		Navigation.NavigateTo("authentication/login");
	}
}