@page

@model SetupModel

@{
	ViewData["Title"] = "Setup";
}

<div class="content">
	<section class="form-section">
		<form id="email" method="post">
			<h1>Setup your email server</h4>

			<div class="form-line">
				<fluent-text-field asp-for="SmtpOptions.Name" />
				<span asp-validation-for="SmtpOptions.Name" class="text-danger"></span>
			</div>

			<div class="form-line">
				<fluent-text-field asp-for="SmtpOptions.Address" />
				<span asp-validation-for="SmtpOptions.Address" class="text-danger"></span>
			</div>

			<div class="form-line">
				<div class="form-line-cell">
					<fluent-text-field asp-for="SmtpOptions.Server" style="width: 188px;" />
					<span asp-validation-for="SmtpOptions.Server" class="text-danger"></span>
				</div>
				
				<div class="form-line-cell">
					<fluent-text-field asp-for="SmtpOptions.Port" style="width: 94px;" />
					<span asp-validation-for="SmtpOptions.Port" class="text-danger"></span>
				</div>
			</div>

			<div class="form-line">
				<label asp-for="SmtpOptions.SecureSocket"></label>
				<select asp-for="SmtpOptions.SecureSocket" asp-items="Html.GetEnumSelectList<SecureSocket>()"></select>
				<span asp-validation-for="SmtpOptions.SecureSocket" class="text-danger"></span>
			</div>

			<div class="form-line">
				<fluent-text-field asp-for="SmtpOptions.Login" />
				<span asp-validation-for="SmtpOptions.Login" class="text-danger"></span>
			</div>

			<div class="form-line">
				<fluent-text-field asp-for="SmtpOptions.Password" />
				<span asp-validation-for="SmtpOptions.Password" class="text-danger"></span>
			</div>

			<div class="form-line">
				<fluent-button appearance="Accent" style="margin: 0px 6px 6px 0px;" type="submit">Save</fluent-button>
			</div>
		</form>
	</section>
</div>