@inherits LayoutComponentBase;

@inject IJSRuntime JSRuntime;

<header>
	
</header>

<nav class="col-3 col-s-3" style="max-width: 255px">

</nav>

<main class="col-9 col-s-9">
	@Body
</main>

<footer>
	
</footer>

@code{

}